PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=soundwave
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=cambia_este_secreto_largo
ADMIN_EMAIL=admin@soundwave.local
ADMIN_PASSWORD=cambia_esta_password
ADMIN_NAME=SoundWave Admin
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://127.0.0.1:3000/auth/google/callback
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_CALLBACK_URL=http://127.0.0.1:3000/auth/microsoft/callback
